@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
}
.heading {
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    line-height: 100px;
}
